In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import pandas as pd

In [2]:
df = pd.read_excel('Position Classifier.xlsm',sheetname='KNN Practice')

In [3]:
df.describe()

       Total Touches  Total Yards
count     219.000000   219.000000
mean       79.200913   461.785388
std        84.431101   445.825844
min         1.000000   -14.000000
25%        19.000000    81.500000
50%        53.000000   322.000000
75%        99.500000   744.000000
max       406.000000  2093.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
Total Touches    219 non-null int64
Total Yards      219 non-null int64
Position         219 non-null object
dtypes: int64(2), object(1)
memory usage: 5.2+ KB

In [5]:
df.head()

   Total Touches  Total Yards Position
0            406         1946       RB
1            346         1586       RB
2            342         1581       RB
3            343         2093       RB
4            299         1247       RB

In [6]:
df['Position'].unique()

array(['RB', 'QB', 'WR', 'FB', 'CB', 'TE', 'P', 'K', 'RDT'], dtype=object)

In [7]:
df['Position'].nunique()

9

In [8]:
def classify_position(position):
    if position == 'RB':
        return 1
    elif position =='WR':
        return 2
    elif position == 'QB':
        return 3
    elif position == 'FB':
        return 4
    elif position == 'CB':
        return 5
    elif position == 'TE':
        return 6
    elif position == 'P':
        return 7
    elif position == 'K':
        return 8
    else:
        return 10

In [9]:
df['Position'] = df['Position'].apply(classify_position)

In [10]:
df.columns

Index(['Total Touches', 'Total Yards', 'Position'], dtype='object')

In [11]:
X = np.array(df.drop(['Position'],1))
y = np.array(df['Position'])

In [20]:
X

array([[ 406, 1946],
       [ 346, 1586],
       [ 342, 1581],
       [ 343, 2093],
       [ 299, 1247],
       [ 325, 1782],
       [ 304, 1342],
       [ 290, 1206],
       [ 273, 1231],
       [ 268, 1252],
       [ 299, 1288],
       [ 274, 1215],
       [ 288, 1540],
       [ 231,  945],
       [ 237, 1160],
       [ 227, 1042],
       [ 234, 1035],
       [ 206,  732],
       [ 232, 1182],
       [ 223,  925],
       [ 235, 1110],
       [ 208,  913],
       [ 201,  942],
       [ 187,  880],
       [ 199,  785],
       [ 181,  816],
       [ 190,  867],
       [ 198,  714],
       [ 183,  927],
       [ 178,  818],
       [ 213,  991],
       [ 139,  754],
       [ 147,  490],
       [ 172,  883],
       [ 212, 1554],
       [ 167,  519],
       [ 222, 1086],
       [ 122,  592],
       [ 133,  557],
       [ 145,  669],
       [ 124,  537],
       [ 149,  847],
       [ 105,  398],
       [ 140,  674],
       [  95,  586],
       [ 110,  492],
       [ 195,  723],
       [ 137,  730],
       [  84,  427],
       [  90,  470],
       [  85,  410],
       [  77,  419],
       [  85,  444],
       [  94,  446],
       [  75,  226],
       [  83,  371],
       [  95,  518],
       [  84,  318],
       [ 111,  804],
       [  64,  299],
       [  63,  260],
       [  72,  299],
       [  67,  212],
       [  60,  312],
       [  60,  355],
       [  85,  317],
       [  67,  251],
       [  57,  322],
       [  57,  357],
       [ 117,  531],
       [  75,  434],
       [  56,  267],
       [  49,  179],
       [  64,  277],
       [  80,  453],
       [  67,  336],
       [  50,  157],
       [  99,  600],
       [  49,  136],
       [  41,  248],
       [  40,  160],
       [  41,  161],
       [  38,   99],
       [  41,  132],
       [  37,  124],
       [  37,  280],
       [  36,  269],
       [  33,   12],
       [  33,  135],
       [  32,  143],
       [  31,  127],
       [  29,   98],
       [  28,   51],
       [  28,   47],
       [  26,  136],
       [  26,  108],
       [  25,   28],
       [  25,   54],
       [  24,  126],
       [  23,   66],
       [  23,   82],
       [  32,  109],
       [  19,   32],
       [  18,   -2],
       [ 117, 1242],
       [  58,  113],
       [  16,   76],
       [  16,    5],
       [  14,   64],
       [  14,   12],
       [  21,   87],
       [  74,  663],
       [  63,  430],
       [  12,   26],
       [  11,    3],
       [  17,   90],
       [  87,  826],
       [  10,   71],
       [ 128,  613],
       [  75,  670],
       [  74, 1122],
       [   9,   -2],
       [   9,    7],
       [  72,  862],
       [  41,  427],
       [   8,  -10],
       [  24,  274],
       [ 100,  823],
       [  14,   81],
       [  40,  346],
       [   9,   36],
       [   7,   10],
       [   7,   23],
       [   7,   55],
       [  22,  109],
       [  65,  625],
       [  11,   47],
       [   8,   59],
       [  12,   48],
       [  64,   55],
       [   5,   30],
       [  12,   52],
       [ 101, 1025],
       [   5,   51],
       [   6,   17],
       [   4,    4],
       [  60, 1006],
       [  29,  179],
       [  71,  713],
       [   4,    2],
       [  63,  735],
       [   4,   12],
       [  66,  950],
       [  37,  347],
       [  37,  456],
       [  53,  706],
       [   3,    9],
       [  32,  545],
       [   5,    6],
       [  37,  292],
       [  46,  560],
       [   4,   26],
       [ 104, 1402],
       [  77,  983],
       [   2,   -3],
       [   4,   28],
       [  10,   26],
       [   2,    4],
       [  39,  432],
       [  85, 1045],
       [   2,  -14],
       [  20,  243],
       [   8,   65],
       [   2,   15],
       [  33,  239],
       [  18,   98],
       [  22,  221],
       [   8,   44],
       [   2,    2],
       [  76,  805],
       [   5,   64],
       [  17,   92],
       [  55,  583],
       [  58,  793],
       [  63,  775],
       [  27,  310],
       [  25,  382],
       [   1,    0],
       [  22,  309],
       [  70,  834],
       [  19,  117],
       [  49,  684],
       [  78,   90],
       [  36,  488],
       [  13,  201],
       [  65,  736],
       [  17,  257],
       [  29,  486],
       [  28,  316],
       [  17,  117],
       [   5,   47],
       [  68,  637],
       [   1,   24],
       [  89, 1459],
       [   2,    2],
       [ 125,  980],
       [  62,  719],
       [   1,    4],
       [  54,  792],
       [  23,  163],
       [  33,  387],
       [   1,   10],
       [   1,   12],
       [  38,  427],
       [  92, 1287],
       [  36,  147],
       [  11,   85],
       [  53,  752],
       [   1,    1]], dtype=int64)

In [12]:
X_train, X_Test, y_train, y_test = model_selection.train_test_split(X,y,test_size=.20)

In [13]:
classifier = neighbors.KNeighborsClassifier()

In [14]:
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [15]:
accuracy = classifier.score(X_Test,y_test)

In [16]:
accuracy

0.59090909090909094

In [17]:
predict_data = np.array([49,684])
predict_data = predict_data.reshape(1,-1)

In [18]:
prediction = classifier.predict(predict_data)

In [19]:
prediction

array([2], dtype=int64)